<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h2>
    Demo - Virtual Scroll with Lazyload Images
  </h2>
  <ul>
    <cdk-virtual-scroll-viewport itemSize="300" id="container-main" >
      <li *cdkVirtualFor="let image of images$ | async; let i = index; trackBy: trackByIdx" >
        <img *ngIf="image?.url" [scrollTarget]="scrollRef" [defaultImage]="defaultImage" [lazyLoad]="image?.url" [errorImage]="errorImage" >
      </li>
    </cdk-virtual-scroll-viewport>
  </ul>
</div>
