<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <cdk-virtual-scroll-viewport  style="height: 500px" itemSize="90" class="container-main">
    <ng-container  *cdkVirtualFor="let image of images$ | async"  >
      <img [src]="image.url">
    </ng-container>
  </cdk-virtual-scroll-viewport>


<!--
<ul class="list">
  <cdk-virtual-scroll-viewport  style="height: 500px" itemSize="90" >
    <ng-container *cdkVirtualFor="let image of images$ | async">
      <li class="list-item"> <img [src]="image.url"> </li>
    </ng-container>
  </cdk-virtual-scroll-viewport>
</ul> -->

  <router-outlet></router-outlet>
</div>

